---
layout: compress
---

<!doctype html>
<html lang="{{ site.locale | default: 'en-US' | slice: 0, 2 }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title and page.title != "" %}{{ page.title }} - {% endif %}{{ site.title | default: site.name }}</title>
    <meta name="description" content="{{ site.description | default: site.name | strip_html | strip_newlines | escape }}">
    <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
  </head>
  <body>
    <main class="home-shell" role="main">
      {{ content }}
    </main>
  </body>
</html>
